
<h2>Are you sure you want to delete:</h2>
<form id="myform" action="/deleteuser/deleteCurrentUser" method="post">
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {{#each deleteUsersInformation}}
            <tr>
                <td>{{email}}</td>
                <td>{{username}}</td>
                <td>{{password}}</td>
                <td>{{name}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

    <button type="submit" class="btn btn-danger">Delete</button>
        
    <a href="/users" class="btn btn-info" role="button">Don't delete</a>

</form>