<form id="myform" action="/edituser/updatecurrentuser" method="post">
    {{#each editUsersInformation}}
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" name="updateduseremail" placeholder="Email" value="{{email}}">
    </div>

    <div class="form-group">
        <label for="inputUsername">User name</label>
        <input type="text" class="form-control" id="inputUsername" name="updatedusername" placeholder="User name" value="{{username}}">
    </div>

    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="text" class="form-control" id="inputPassword" name="updateduserpassword" placeholder="Password" value="{{password}}">
    </div>


    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" name="updatedname" placeholder="Name" value="{{name}}">
    </div>
    {{/each}}

    <button type="submit" class="btn btn-primary">Update</button>

</form>