<!doctype html>

<html>

<head>
  <title>Welcome to {{pageName}}</title>
  <link rel='stylesheet' href='/CSS/style.css'>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  {{{body}}}


</body>

</html>
